body {
    font-family: Arial, sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
}

#map {
    width: 100%;
    height: 80vh;
    cursor: pointer;
}

.county {
    stroke: #fff;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.county:hover {
    fill: #f00; /* Highlight on hover */
}
